.hotels{
    height: 45vh;
    width: 45vh;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}



.hotels{
    white-space: nowrap;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
